{% extends 'base.html.twig' %}

{% block title %}Edit SubCategory{% endblock %}

{% block body %}
    <div class="container"><br><br>
        <h1>Modifier une sous-catégorie</h1><br>

        {{ include('sub_category/_form.html.twig', {'button_label': 'Modifier'}) }}<br>

        <a href="{{ path('app_sub_category_index') }}" class="btn btn-outline-primary">back to list</a>

        {{ include('sub_category/_delete_form.html.twig') }}
    </div>
{% endblock %}
