{% extends 'base.html.twig' %}

{% block title %}Votre Commande{% endblock %}

{% block body %}


    <div class="container">
        <div class="row">
            <div class="col-8">
                <h1>Commande</h1>

                {{ form_start(form) }}
                    {{ form_widget(form) }}
                    <input type="submit" value="Continuer" class="btn btn-outline-primary mt-4">

                {{ form_end(form) }}
            </div>
            <div class="col-4 mt-8"><br><br><br><br><br><br>
                <p class="font-weight-light">Montant du panier: <span id="cart-price">{{ total }}</span>€</p>
                <span class="font-italic">Frais de livraison: <span id="shippingCost"></span>€</span><br>
                <h2 class="font-weight-bold mt-4">Montant total à payer : <span class="total-price"></span>€</h2>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script>
        $(document).ready(function (){
            const citySelector = $('#order_city');
            const cityValue = citySelector.val();
            const url = `http://127.0.0.1:8000/city/${cityValue}/shipping/cost`;

            function ajaxRequest(url){
                 $.ajax({
                    url:url,
                    type:'GET',
                    success:function(response){
                        const newResponse = JSON.parse(response)
                        if (parseInt(newResponse.status) === 200) {
                            //console.log(newResponse.status)
                            $("#shippingCost").text(newResponse.content)

                            const cartPrice = parseFloat($("#cart-price").text());
                            const shippingCost = parseInt($("#shippingCost").text());
                            $(".total-price").text(cartPrice+shippingCost);
                            //console.log(shippingCost)

                        }

                    },
                    error:function(xhr,status,error){

                    }

                })

            }

            ajaxRequest(url)
            
           

            citySelector.on('change',function(){
                const urlUpdate = `http://127.0.0.1:8000/city/${$(this).val()}/shipping/cost`;
                ajaxRequest(urlUpdate)

            })

        
        })
    </script>
{% endblock %}
